*.iml
.gradle
/local.properties
/.idea
/KeyStore
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.png
*.drawio
*.docx
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle.kts